.btn{
    padding: 5px; border: 1px solid #07bc0c; 
    border-radius: 6px; 
    text-decoration: none; 
    animation: 1s pulse infinite; 
    box-shadow: 0px 0px 3px #07bc0c;
    border: 1px solid #00ff56;
    background-color: #009E35;
    width: 450px;
    margin: 25px  auto;
}

button{
    background-color: #009E35;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.gift{
    width: 200px;
    margin: 35px auto;
    animation: pulse 1s infinite;
}


.logo{
    width: 380px;
}

.btn{
    padding: 15px;
    border-radius: 28px;
    font-weight: 600;
}

.bonus{
    border: 1px solid #07bc0c;
    padding: 10px 25px;
    margin: 0px auto 25px auto;
    border-radius: 15px;
    color: white;
    font-family: "Exo", sans-serif
}

.bottom-headline{
    margin: 25px 10px;
    font-size: 24px;
    color: white;
    font-family: "Exo", sans-serif
}


@media screen and (max-width:500px){
    .btn{
        max-width: 300px;
        margin: auto;
    }

    .logo-btn{
        margin-top: 10px;
        width: 150px;
    }

    .bottom-headline{
        margin: 25px 10px;
        font-size: 16px !important;
    }

    .btn{
        max-width: 80%;
    }

    .gift{
        width: 150px;
    }
    
}