.btn{
    padding: 5px; border: 1px solid #07bc0c; border-radius: 6px; text-decoration: none; animation: 1s pulse infinite; box-shadow: 0px 0px 3px #07bc0c
}

@media screen and (max-width:500px){
    .btn{
        max-width: 300px;
        margin: auto;
    }

    .logo-btn{
        margin-top: 10px;
        width: 150px;
    }
}